<h1>{{ 'user.reset_password.email.title' |trans }}</h1>

<p>{{ 'user.reset_password.email.info' |trans }}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

