{% extends 'layout.html.twig' %}

{% block banner_title %}Pièces costumes{% endblock %}
{% block title %}Pièces costumes{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-3 heading">
            <span class="title-icon classic pull-left"><i class="fa fa-cut"></i></span>
            <h2 class="title classic">Pièces de costumes</h2>
        </div>
        <div class="col-md-9">
            {{ include('clothespiece/_form_simple.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ include('clothespiece/_form_filter.html.twig') }}
        </div>
    </div>

    {% include 'clothespiece/_grid.html.twig' %}

{% endblock %}
