{% extends 'layout.html.twig' %}

{% block banner_title %}Danses{% endblock %}
{% block title %}Danses{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-3 heading">
            <span class="title-icon classic pull-left"><i class="fa fa-star"></i></span>
            <h2 class="title classic">Danses</h2>
        </div>
        <div class="col-md-9">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

    {% include 'dance/_listing.html.twig' %}

{% endblock %}
