{% if field.value is iterable %}
    {% for element in field.value %}
        <span class="badge badge-primary" style="color:white; background-color: {{ element.code|raw }}">{{ element }}</span>
    {% endfor %}
{% else %}
    <span class="badge badge-primary" style="color:white; background-color: {{ value|raw }}">{{ field.value }}</span>
{% endif %}
