{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    {{ costume }}
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Dress maker</th>
                {% for costumePiece in costume.clothesCostumePieces %}
                    <th>{{ costumePiece.piece }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
           {% for memberShip in memberShips %}
               <tr>
                   <td>{{ memberShip.member }}</td>
                   {% for costumePiece in costume.clothesCostumePieces %}
                       <td class="text-center">
                           {% for pieceStock in costumePiece.piece.clothesPieceStocks %}
                             {% if pieceStock.dressKeeper == memberShip.member %}
                                 {% if pieceStock.dressMaker is not null %}
                                    {{ pieceStock.dressMaker }}
                                 {% else %}
                                     <i class="fa fa-check"></i>
                                 {% endif %}
                             {% endif %}
                           {% endfor %}
                       </td>
                   {% endfor %}
               </tr>
           {% endfor %}
        </tbody>
    </table>
{% endblock %}