{% extends 'layout.html.twig' %}

{% block banner_title %}Costumes{% endblock %}
{% block title %}Costumes{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-3 heading">
            <span class="title-icon classic pull-left"><i class="fa fa-cut"></i></span>
            <h2 class="title classic">Costumes</h2>
        </div>
        <div class="col-md-9">

        </div>
    </div>

    {% include 'clothescostume/_grid.html.twig' %}

{% endblock %}
