{% extends 'layout.html.twig' %}

{% block banner_title %}Playlist{% endblock %}
{% block title %}Playlist{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 heading">
            <span class="title-icon classic pull-left"><i class="fa fa-list"></i></span>
            <h2 class="title classic">Playlist</h2>
        </div>
    </div>

    {% include 'playlist/_grid.html.twig' %}

{% endblock %}
