	  <div class="container">
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <ul class="footer-social unstyled">
	          <li>
	            <a title="Twitter" href="https://twitter.com/clapsabots">
	              <span class="icon-pentagon wow bounceIn"><i class="fa fa-twitter"></i></span>
	            </a>
				  <a title="Facebook" href="https://www.facebook.com/clapsabots/">
					  <span class="icon-pentagon wow bounceIn"><i class="fa fa-facebook"></i></span>
				  </a>
				  <a title="Instagram" href="https://www.instagram.com/clapsabots/?hl=fr">
					  <span class="icon-pentagon wow bounceIn"><i class="fa fa-instagram"></i></span>
				  </a>
				<a title="Youtube" href="https://www.youtube.com/channel/UCosekUHBFpTtiLU5vt_l9NA">
					<span class="icon-pentagon wow bounceIn"><i class="fa fa-youtube"></i></span>
				</a>
	            <a title="Website" href="https://www.clapsabots.be">
	              <span class="icon-pentagon wow bounceIn"><i class="fa fa-globe"></i></span>
	            </a>
	          </li>
	        </ul>
	      </div>
	    </div>
	    <!--/ Row end -->
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <div class="copyright-info">
	          &copy; Copyright 2020 Clap'Sabots. <span>Designed by <a
	              href="https://themefisher.com">Themefisher.com</a></span>
	        </div>
	      </div>
	    </div>
	    <!--/ Row end -->
	    <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix position-fixed">
	      <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
	    </div>
	  </div>
