<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Clap{% endblock %}</title>
        {% block head %}{% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="body-inner">
            {% block header %}{% endblock %}
            {% block banner %}{% endblock %}

            {% block container %}{% endblock %}

            {#}% block footer %}{% endblock %#}
            {% block copyright %}{% endblock %}
        </div>

        <!-- jQuery -->
        <script src="/plugins/jQuery/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="/plugins/bootstrap/bootstrap.min.js"></script>
        <!-- Style Switcher -->
        <script type="text/javascript" src="/plugins/style-switcher.js"></script>
        <!-- Owl Carousel -->
        <script type="text/javascript" src="/plugins/owl/owl.carousel.js"></script>
        <!-- PrettyPhoto -->
        <script type="text/javascript" src="/plugins/jquery.prettyPhoto.js"></script>
        <!-- Bxslider -->
        <script type="text/javascript" src="/plugins/flex-slider/jquery.flexslider.js"></script>
        <!-- CD Hero slider -->
        <script type="text/javascript" src="/plugins/cd-hero/cd-hero.js"></script>
        <!-- Isotope -->
        <script type="text/javascript" src="/plugins/isotope.js"></script>
        <script type="text/javascript" src="/plugins/ini.isotope.js"></script>
        <!-- Wow Animation -->
        <script type="text/javascript" src="/plugins/wow.min.js"></script>
        <!-- Eeasing -->
        <script type="text/javascript" src="/plugins/jquery.easing.1.3.js"></script>
        <!-- Counter -->
        <script type="text/javascript" src="/plugins/jquery.counterup.min.js"></script>
        <!-- Waypoints -->
        <script type="text/javascript" src="/plugins/waypoints.min.js"></script>
        <!-- google map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
        <script src="/plugins/google-map/gmap.js"></script>

        <!-- Main Script -->
        <script src="/js/script.js"></script>
        {% block javascripts %}{% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31061879-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-31061879-2');
        </script>
    </body>
</html>
