{% extends 'base.html.twig' %}

{% block head %}
	{% include '_head.html.twig' %}
{% endblock %}

{% block header %}
	{% include '_header.html.twig' %}
{% endblock %}

{% block banner %}
	<div id="banner-area">
		<img src="/images/banner/banner1.jpg" alt="" />
		<div class="parallax-overlay"></div>
		<!-- Subpage title start -->
		<div class="banner-title-content">
			<div class="text-center">
				<h2>{% block banner_title %}Clap'Sabots{% endblock %}</h2>
				{% if breadcrumb is defined and breadcrumb != null %}
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb justify-content-center">
							{% for item in breadcrumb.items %}
								{% if not loop.last %}
									<li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.title|e }}</a></li>
								{% else %}
									<li class="breadcrumb-item text-white" aria-current="page">{{ item.title|e }}</li>
								{% endif %}
							{% endfor %}
						</ol>
					</nav>
				{% endif %}
			</div>
		</div><!-- Subpage title end -->
	</div><!-- Banner area end -->
{% endblock %}


{% block container %}
	<section id="main-container" class="portfolio-static">
		<div class="container">
			{% block body %}{% endblock %}
		</div><!-- Container end -->
	</section><!-- container end -->
	<div class="gap-40"></div>
{% endblock %}

{% block footer %}
	<!-- Footer start -->
	<footer id="footer" class="footer">
		{% include '_footer.html.twig' %}
	</footer><!-- Footer end -->
{% endblock %}

{% block copyright %}
	<!-- Copyright start -->
	<section id="copyright" class="copyright angle">
		{% include '_copyright.html.twig' %}
	</section>
{% endblock %}
